    .payment-page {
  padding: 2rem;
  color: #333;
  font-family: Arial, sans-serif;
  background-color: #5c93604b;
  height: 77vh;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.payments-table {
  width: 100%;
  /* border-radius: 30px; */
  border-collapse: collapse;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  
}

.payments-table th,
.payments-table td {
  /* border-radius: 30px; */
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.payments-table th {
  background-color: #a4a1a1;
  font-weight: bold;
}

.payments-table tr {
  background-color: rgba(188, 187, 186, 0.555);
}

/* .payments-table tr:nth-child(even) {
  background-color: #fafafa;
} */

.error {
  color: red;
  text-align: center;
}
